.modal2{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000000;
    display: none;
}

.modal--content1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-img{
    width: 30%;
    height: 500px;
    object-fit: cover;
}

.modal--boton{
  position: absolute;
  top: 10px;
  right: 10px;
  color:#fff;
  cursor: pointer;
  font-weight: bold;
  line-height: 50px;
  font-size: 4em;  
  margin-right: 50px;
  border-radius: 50%;
  text-align: center;
  font-family: monospace;
}

.p_left{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: monospace;
}

.p_right{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: monospace;
}

.modal--open{
    display: block;
}

.description1{
    font-size: 2rem;
    position: absolute;
    top: 76%;
    cursor: none;
}   

.description a{
    text-decoration: none;
    color: #fff;
    width: 600px;
}

.description a:hover{
    background: rgba(5, 214, 57, 0.902);
    border-radius: 5px;
   
}

@media screen and (min-width: 480px){
    .modal--boton{
       top:60px;
    } 
   
    .modal--boton:hover{
       color: red;
       transition: all 3s ease;
    }
   
}

@media screen and (max-width:900px){
    .modal-img{
       width: 80%;
       height: 500px;
       object-fit: cover;
    }
}