*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #333, 0 15px 50px;
    position: relative;
    margin-bottom: 500px;
}

.slider--section{
    width: 100%;
}

.slider{
    display: flex;
    width: 600%;
    height: 400px;

}

.slider--img{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -100%;
}

.slider--btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
}

.slider--btn:hover{
    background: #000;
    color: rgba(255,255,255,.7);
}

.slider--btn--left{
    left: 10px;
}

.slider--btn--right{
    right: 10px;
}

@media screen and (min-width:360px){
    .container-slider{
        margin-bottom: 80px;
    } 
}

@media screen and (min-width:412px){
    .container-slider{
        margin-bottom: 80px;
    } 
}


@media screen and (min-width:375px){
    .container-slider{
        margin-bottom: 120px;
    } 
}

@media screen and (min-width: 480px){
      .container-slider{
        margin-bottom: 500px;
    } 
}

@media screen and (min-width:768px){
    .container-slider{
        margin-bottom: 460px;
    } 
}


@media screen and (min-width: 540px){
      .container-slider{
        margin-bottom: 460px;
    } 
}

